.slide.darkSlide {
    padding-top:10px;
    line-height:1.0;
    font-family:EdmondSansBold;
    font-size:120px;
    text-align:center !important;
    display:table-cell;
    vertical-align:middle;
    height:500px;
    background-color:#111;
    color:#eee;
}

.inSlide {
    font-size:50px;
    width:850px;
    margin:auto;
    text-align:left;
}

.slide.darkSlide pre > code {
    font-size:50px;
}

.slide.codeLeft pre > code {
    text-align:left;
    width:850px;
    margin:auto;
    font-size:40px;
}

.importantText {
    padding-top:120px;
}

.darkSlide pre, .darkSlide code {
    margin:20px;
    padding:0;
}
