
.blackSlide {
    background:black;
    color:white;
}

.footer {
    width:900px;
    float:left;
    font-size:12px;
    text-align:center;
    margin:5px;
}

.spoiler {
    color:#29c916;
    font-style:italic;
}

.important {
    text-align:center;
    font-size:130%;
}

.center {
    text-align:center;
}

.warning {
    color:#c13131;
    font-style:italic;
}

.slideEnabled .warning {
    margin-top:50px;
}
