.slide.redSlide, .slide.darkSlide {
    padding-top:10px;
    line-height:1.0;
    font-family:EdmondSansBold;
    text-align:center !important;
    vertical-align:middle;
    height:500px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-size:180%;
}

.slide.darkSlide {
    background-color:#111;
    color:#eee;
}

.slide.redSlide {
    background-color:#c00;
    color:#eee;
}

.inSlide {
    max-width:800px;
    margin:auto;
    text-align:left;
}

.slide.codeLeft pre > code {
    max-width:800px;
    text-align:left;
    margin:auto;
}

.darkSlide pre, .darkSlide code {
    margin:20px;
    padding:0;
}

.center {
    text-align:center;
}
