{% extends 'layout.html.twig' %}

{% block content %}
<h2>Genres</h2>

<ul>
{% for genre in genres %}
    <li>
        {{ genre.nom }} ({{ genre.films|length }})
    </li>
{% endfor %}
</ul>
{% endblock %}
