{% extends 'layout.html.twig' %}

{% block contents %}
<div class="alert alert-danger shouldbeadmin">
    Vous devez vous identifier en tant qu'administrateur pour accéder à cette page.
</div>
{% endblock %}
