{% extends 'AppBundle::layout.html.twig' %}

{% block menu_home %}active{% endblock %}

{% block contents %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/tv.png" alt="">
                    <div class="intro-text">
                        <span class="name">Ne manquez plus rien</span>
                        <hr class="star-light">
                        <span class="skills">
                        	Votre programme des sorties de séries
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}