<html>
    <head>
        <title>
        {% block title %}Mon titre{% endblock %}
        </title>
    </head>
    <body>
        <h1>{{ block('title') }}</h1>
        {% block content %}
        Bonjour {{ name }} !
        {% endblock %}
    </body>
</html>
