{{ chapter('Symfony 2', 'symfony-2') }}

<div class="slide">
{{ part('Présentation') }}
<p>
    <b>Symfony 2</b> est un <i>framework</i> web, c'est à dire un outil très complet permettant
de réaliser des applications web.
</p>
<p class="discover">
    D'après son créateur <b>Fabien Potencier</b>, Symfony 2 est en fait plus un immense package
de bibliothèques toutes fortement découplées assemblées et paramétrées pour fonctionner ensemble.
</p>
<p class="discover">
    En effet, <b>Symfony 2</b> se base sur plein de composants tels que&nbsp;:
</p>
<ul>
    <li class="discover">Doctrine pour requêter la base de données</li>
    <li class="discover">Twig pour le rendu de ses templates</li>
    <li class="discover">SwiftMailer pour l'envoi d'e-mails</li>
</ul>
</div>

{{ annex('tds/td6.html.twig') }}
