{% set books_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
{% for book in books %}
<a class="book" href="#">
    {% if book.image %}
        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}_small.jpg" />
    {% endif %}
    <span class="t">{{ book.titre }} </span><br>
    <em>{{ book.auteur }}</em><br/>
</a>
{% endfor %}
{% endblock %}
