{% set home_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
    <div class="jumbotron">
    <h2>Bienvenue sur le site de la bibliothèque!</h2>
    <p>
        Vous pourrez consulter la liste de nos livre et vérifier si ils sont 
        disponibles pour être empruntés.
    </p>
    </div>
{% endblock %}
